h1{
    border-style: collapse;
    padding: 30px;
    text-align: center;
    background-color: rgba(182, 232, 245, 0.767);
    margin-left: 2%;
    margin-right: 2%;
}

h2{
    margin-left: 3%;
}

body{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    border-style: solid;
    border-width: 3px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#salaryTable{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 100px;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .10);
   
}

#salaryTable thead tr{
    background-color: rgb(252, 220, 115);

    color: white;
    text-align: left;
    font-weight: bold;
}

#salaryTable th,
#salaryTable td{
    padding: 12px 15px;
}

#salaryTable tbody tr{
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

#salaryTable tbody tr:nth-of-type(even){
    background-color: rgb(241, 241, 241);
}

#monthly{
    text-align: right;
    margin-right: 3%;

}