h1{
    border-style: collapse;
    padding: 30px;
    text-align: center;
    background-color: rgba(182, 232, 245, 0.767);
    margin-left: 2%;
    margin-right: 2%;
}

h2{
    margin-left: 3%;
}

#firstNameInput{
    margin-left: 3%;
}

#submitButton{
    box-shadow: 0 0 20px rgba(0, 0, 0, .10);
}

.placeholder{
    box-shadow: 0 0 20px rgba(0, 0, 0, .10);
    border-radius: 4px;
}

body{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    border-style: solid;
    border-width: 3px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#salaryTable{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, .10);
    table-layout: fixed;
    width: 700px;
}

#salaryTable thead tr{
    background-color: rgb(252, 220, 115);
    color: rgb(114, 114, 114);
    text-align: left;
    font-weight: bold;
}

#salaryTable th,
#salaryTable td{
    padding: 12px 15px;
}

#salaryTable tbody tr{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

#salaryTable tbody tr:nth-of-type(even){
    background-color: rgb(241, 241, 241);
}

#salaryTable tfoot tr{
    background-color: rgb(255, 253, 235);
}

#monthly{
    text-align: right;
    margin-right: 3%;

}